@import '../../scss/main';

.switch{
    display: inline-block;
    background-color: $color-white;
    width: 4.5rem;
    height: 2.5rem;
    border-radius: 100rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    border: none;

    &:disabled{
        cursor: default;


        & > .toggle {
            background-color: rgba($color-white, .4);
        }

        & > .check-icon, .label{
            color: rgba($color-white, .4);
        }
    }
}

.on{
    background-color: $color-succed-dark-1;
    &:disabled{
        background-color: rgba($color-succed-dark-1, .7);
    }

    & > .toggle{
        top: .3rem;
        left: 2.2rem
    }
}

.off{
    background-color: $color-grey;

    &:disabled{
        background-color: rgba($color-grey, .7);
    }
    & > .toggle{
        top: .3rem;
        left: .4rem
    }
}

.toggle{
    position: absolute;
    background-color: $color-white;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 10rem;
    transition: all 0.35s;
}

.label{
    color: $color-white;
    display: inline;
    font-weight: 600;
}


.check-icon{
    position: absolute;
    color: $color-white;
    background-color: transparent;
    left: 0;
    top: 0;
}