.login{
    background-color: $color-blue-dark;
    height: 100vh;
    position: relative;
    
    &--form-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}