.workspaces {

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;

    &__actions {

    }
    &__description {

    }
  }

  &__search {
  }

  &__items{
    width: 70%;
  }

  &__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    
    &__radio{

    }

    &__name{

    }
    &__goto{

    }
  }
}
