.background-color-white{
    background-color: $color-white;
}

.background-color-black{
    background-color: $color-black;
}

.background-color-error{
    background-color: rgba(rgb(255, 33, 33), 0.7);
}

.background-color-primary{
    background-color: $color-primary-dark;
}

.background-color-primary-light{
    background-color: $color-primary-light;
}

.background-color-primary-succeed{
    background-color: $color-green;
}