.background-color-white {
  background-color: $color-white;
}

.background-color-black {
  background-color: $color-black;
}

.background-color-error {
  background-color: $color-error;
}

.background-color-primary {
  background-color: $color-primary;
}

.background-color-primary-light-1 {
  background-color: $color-primary-light-1;
}

.background-color-primary-light-2 {
  background-color: $color-primary-light-2;
}

.background-color-primary-light-3 {
  background-color: $color-primary-light-3;
}

.background-color-primary-dark-1 {
  background-color: $color-primary-dark-1;
}

.background-color-primary-dark-2 {
  background-color: $color-primary-dark-2;
}

.background-color-primary-dark-3 {
  background-color: $color-primary-dark-3;
}

.background-color-primary-succeed {
  background-color: $color-succed;
}
