@import '../../../scss/main.scss';
.table {
  background-color: $color-white;
  border-radius: 1rem;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

td,
th {
  border: 1px solid $color-grey-light-2;
  text-align: left;
  padding: 1.5rem;
}

tr:nth-child(even) {
  background-color: $color-grey-light-3;
}


.small-column{
  width: 2rem;
}