body {
  font-size: $default-font-size;
  line-height: 1.7;
}

.h1 {
  color: $color-white;
  text-transform: none;
  backface-visibility: hidden;
  display: block;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 0rem;

  &--animated {
    @extend .h1;
    animation: moveInLeft 1s;
    animation-timing-function: ease-out;
  }
}

.h2 {
  color: $color-white;
  font-size: 4rem;
  text-transform: none;
  font-weight: 600;
  display: inline-block;
  background-clip: text;
  letter-spacing: 0px;
  transition: all 0.2s;
  cursor: default;
}

.h3 {
  color: $color-white;
  font-size: 3rem;
  text-transform: none;
  font-weight: 600;
  display: inline-block;
  background-clip: text;
  letter-spacing: 0px;
  transition: all 0.2s;
  cursor: default;
}

.h4 {
  color: $color-white;
  font-size: $default-font-size;
  font-weight: 700;
}

.p {
  color: $color-white;
  font-size: $default-font-size;
}
