@import "../../scss/abstract/variables";

.error{
    color: rgba(rgb(255, 219, 219), 1);
    text-align: left;
    font-size: $small-font-size;

    &--invisible{
        color: rgba(rgb(255, 219, 219), 0);
    }
}
