@import '../../../scss/abstract/variables';

.input{
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 5px;
    color: $color-black;
    padding: 1.5rem 2rem;
    background-color: $color-white;
    width: 100%;
    transition: all 0.3s;
    margin: 0;

    &:disabled{
        cursor: not-allowed;
    }
    
}
