@import '../../../scss/abstract/variables';

.box{
    position: relative;
}

.input{
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 5px;
    color: $color-text-grey-light;
    font-size: $default-font-size;
    padding: 1.5rem 2rem;
    background-color: $color-white;
    width: 100%;
    display: inline-block;
    transition: all 0.3s;
    
}

.error{
    position: absolute;
    color: rgb(255, 255, 255);
    text-align: left;

    & + .input{
        background-color: red;
    }
}



.placeholder{
    
}