@import '../../scss/abstract/variables';

.box{
    background-color: rgba($color-white, 1);
    border-radius: .5rem;
    min-width: 45rem;
    width: 100%;
    overflow: hidden;
}

.box--focus{
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgba($color-green, 1);
}

.box--hover{
    outline-width: 3px;
    outline-style: solid;
    outline-color: rgba($color-green, .7);
}

.box--error{
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgba(rgb(255, 116, 116), 1);
}

.box--disabled{
    background-color: rgba($color-white, .7);
    cursor: default;
}
