//https://mycolor.space/?hex=%23251762&sub=1


$color-primary-dark: #0191D8;
$color-primary-light: #07AFF0;

$color-white: #ffffff;
$color-black: #000000;

$color-text-grey-light: #737373;

//Old variables
$color-primary: #251762;



$color-secondary: #FFB551;


$color-grey-dark: #777;
$color-grey-light: rgb(173, 173, 173);

$color-blue-dark: #251762;

$color-red: #C53D63;

$default-font-size: 1.6rem;
$small-font-size: 1.4rem;

$color-gradient1: #251762;
$color-gradient2: #821D6B;
$color-gradient3: #C53D63;
$color-gradient4: #F07455;
$color-gradient5: #FFB551;
$color-gradient6: #F9F871;

$color-green:#00C9A3