$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-dark: #777;

$color-blue-dark: #251762;

$color-red: #EE3E38;

$default-font-size: 1.6rem;