//https://mycolor.space/?hex=%23251762&sub=1

$default-font-size: 1.4rem;
$small-font-size: 1.2rem;

//new colors
$color-primary: #3D5199;
$color-primary-light-1: #4B5FA6;
$color-primary-light-2: #596DB2;
$color-primary-light-3: #697CBF;
$color-primary-light-4: #7A8CCC;
$color-primary-light-5: #8D9ED9;
$color-primary-light-6: #A1B0E5;
$color-primary-light-7: #B6C3F2;

$color-primary-dark-1: #31458C;
$color-primary-dark-2: #263A80;
$color-primary-dark-3: #1D3073;
$color-primary-dark-4: #142666;
$color-primary-dark-5: #0D1E59;
$color-primary-dark-6: #08174D;
$color-primary-dark-7: #031140;


$color-error: #99573D;
$color-error-light-1: #A6644B;
$color-error-light-2: #B27359;
$color-error-light-3: #BF8269;
$color-error-light-4: #CC927A;
$color-error-light-5: #D9A28D;
$color-error-light-6: #E5B4A1;
$color-error-light-7: #F2C7B6;

$color-succed: #3D9940;
$color-succed-light-1: #4BA64E;
$color-succed-light-2: #59B25C;
$color-succed-light-3: #69BF6C;
$color-succed-light-4: #7ACC7D;
$color-succed-light-5: #8DD98F;
$color-succed-light-6: #A1E5A3;
$color-succed-light-7: #B6F2B8;

$color-succed-dark-1: #318C34;
$color-succed-dark-2: #268029;
$color-succed-dark-3: #1D7320;

$color-grey: #8A8D99;
$color-grey-light-1: #A1A5B2;
$color-grey-light-2: #B8BCCC;
$color-grey-light-3: #CFD4E5;
$color-grey-light-4: #E6EBFF;

$color-grey-dark-1: #737680;
$color-grey-dark-2: #5C5E66;
$color-grey-dark-3: #45474D;
$color-grey-dark-4: #2E2F33;

$color-white: $color-grey-light-4;
$color-black: $color-grey-dark-4;



