@import '../../../scss/main';

.textarea{
    display: block;
    border: none;
    outline: none;
    font-size: $default-font-size;
    resize: none;
    width: 100%;
    min-height: 14rem;
    padding: 2rem;
    color: $color-black;
    border-radius: .5rem;
    box-sizing: border-box;
    background-color: $color-white;

    &:disabled{
        cursor: default;
        background-color: rgba($color-white, .7);
    }

    &:focus{
        outline-offset: 1px;
        outline-width: 2px;
        outline-style: solid;
        outline-color: rgba($color-succed, 1);
    }
}