@import '../../scss/abstract/variables';

.box{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.input{
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    padding: 1.5rem 2rem;
    font-size: $default-font-size;
}

.icon{
    padding-right: 1rem;
    cursor: pointer;
    color: rgba(black, .5);
    width: 2rem;
    height: 2rem;
}