.container{
    position: relative;
}

.create-question__input-name{
    position: absolute;
    top: 0px;
    left: 20px;
}

.create-question__send{
    position: absolute;
    top: 40px;
    left: 20px;
}