@import "../../scss/abstract/variables";

.page {
  background-color: $color-primary-dark;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6.2rem;
  border-bottom: solid rgba($color-white, .25) 2px;

  &__left {
    order: 0;
  }

  &__center {
    text-align: center;
    order: 1;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  &__right {
    order: 2;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}
