@import "../../scss/abstract/variables";

.card {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: 0.2s ease-out 0s 1 slideFromTop;

  &--invisible {
    color: transparent;
  }
}

@keyframes slideFromTop {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
  }
}
