@import '../../scss/abstract/variables';

.login-page {
    height: 100vh;
  
    &__form {
      background-color: $color-primary-dark;
      box-sizing: border-box;
      float: left;
      width: 30%;
      height: 100%;
      border-right: solid 5px white;
      padding: 12.8rem 4.6rem
    }
  
    &__description {
      background-color: $color-primary-dark;
      float: left;
      width: 70%;
      height: 100%;
    }
  }
  
  @media all and (max-width: 1200px) {
    .login-page {
      &__form {
        width: 100%;
      }
    
      &__description {
        width: 100%;
      }
    }
  }
  