@import "../../scss/abstract/variables";

.button {
  display: inline;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 5.2rem;
  padding: 0rem 3rem;
  transition: all 0.3s;

  font-family:'Montserrat', sans-serif;
  font-weight: 600;
  font-size: $default-font-size;
  text-decoration: none;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:enabled {
    transform: translateY(-3px);
  }

  &:active:enabled {
    transform: translateY(1px);
  }

  &--text {
    background-color: transparent;
    border-style: none;
    color: $color-white;

    &:disabled {
      color: rgba($color-white, 0.5);
    }

    &--active{
      text-decoration: underline;
      transform: translateY(-3px);
    }
  }

  &--rounded {
    background-color: $color-primary-light2;
    color: $color-white;
    border: none;
    border-radius: 99rem;

    &:disabled {
      background-color: rgba($color: $color-black, $alpha: 0.25);
    }
  }

  &--create {
    background-color: $color-green;
    color: $color-white;
    border: solid rgba($color-white, 0.5) 2px;

    &:disabled {
      background-color: rgba($color: $color-green, $alpha: 0.75);
    }
  }

  &--transparent {
    background-color: transparent;
    border: solid 2px rgba($color-white, 0.5);
    border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: $color-white;

    &:disabled {
      background-color: rgba($color: $color-white, $alpha: 0.25);
    }
  }

  &--dark {
    background-color: $color-black;
    color: $color-white;
    border: none;
    border-radius: 0.5rem;

    &:disabled {
      background-color: rgba($color: $color-black, $alpha: 0.25);
    }
  }
}

.primary{
  background-color: $color-green;
  color: $color-white;
  border: solid rgba($color-white, 0.5) 2px;

  &:disabled {
    background-color: rgba($color: $color-green, $alpha: 0.75);
  }
}

.secondary{
  background-color: transparent;
  color: $color-black;
  border: solid rgba($color-white, 0.5) 2px;

  &:disabled {
    background-color: rgba($color: $color-white, $alpha: 0.35);
  }
}


.button-padding-small {
  padding: 1.5rem 0rem;
}

.button-padding-none {
  padding: 0rem;
}

.button-color-black{
  color: $color-black;
}