@import "../../scss/abstract/variables";

.button {
  display: inline;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 4rem;
  padding: 0rem 3rem;
  transition: all 0.3s;

  font-family:'Montserrat', sans-serif;
  font-weight: 600;
  font-size: $default-font-size;
  text-decoration: none;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:enabled {
    transform: translateY(-3px);
  }

  &:active:enabled {
    transform: translateY(1px);
  }
}

.primary{
  background-color: $color-green;
  border: none;

  &:disabled {
    background-color: rgba($color: $color-green, $alpha: 0.75);
  }
}

.secondary{
  background-color: transparent;
  border: solid rgba($color-white, 0.5) 2px;

  &:disabled {
    background-color: rgba($color: $color-white, $alpha: 0.35);
  }
}

.tertiary{
  background-color: transparent;
  border: none;
  padding: 0rem;
  height: auto;
}

.navigate{
  background-color: transparent;
  color: $color-white;
  border: none;
  height: auto;

  &--active{
    text-decoration: underline;
    transform: translateY(3px);
    font-weight: bold;
  }

  &:disabled {
    background-color: rgba($color: $color-white, $alpha: 0.35);
  }
}