@import '../../../scss/abstract/variables';

.paginator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.number{
    cursor: pointer;
    color: $color-white;
    padding: 1rem 2rem;
}

.space{
    color: $color-white;
}

.selected-number{
    cursor: pointer;
    color: $color-white;
    background-color: $color-primary-light2;
    border-radius: 10rem;
    padding: 1.2rem 2.2rem;
}

.end-number{
    cursor: pointer;
    color: $color-white;
    padding: 1rem 2rem;

    :disabled{
        color: $color-grey-dark;
    }
}