@import '../../../scss/main';

.paginator{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.number{
    color: $color-white;
    text-align: center;
}

.number-box{
    width: 5rem;
    cursor: pointer;
    text-align: center;
}

.space{
    color: $color-white;
    font-weight: 700;
}

.space-right{
    color: $color-white;
    position: absolute;
    right: 17.8rem;
    bottom: 1.2rem;
    font-weight: 700;
}

.space-left{
    color: $color-white;
    position: absolute;
    left: 16.8rem;
    bottom: 1.2rem;
    font-weight: 700;
}

.selected-number{
    cursor: pointer;
    color: $color-white;
    background-color: $color-primary-light-1;
    border-radius: 10rem;
    padding: 1rem 0rem;
    font-weight: 700;
}

.end-number{
    cursor: pointer;
    color: $color-white;
    padding: 1rem 2rem;

    :disabled{
        color: $color-grey-dark-1;
    }
}