@import '../../../scss/abstract/variables';

.button{
    padding: .2rem;
    background-color: transparent;
    border: none;
    transition: all .3s;
    
    &:disabled{
        background-color: rgba($color: $color-black, $alpha: .25);
        cursor: not-allowed;
    }

    &:hover:enabled{
        transform: translateY(-3px);
    }
    
    &:active:enabled{
        transform: translateY(1px);
    }
}

.icon{
    width: 2.4rem;
    height: 2.4rem;
    color: white;
}