@import '../../../scss/abstract/variables';

.button {
  backface-visibility: hidden;
  background-color: transparent;
  border-radius: 0.5rem;
  border-style: none;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  padding: 1.5rem 4rem;
  transition: all 0.3s;
  border: solid 2px transparent;

  &:disabled {
    color: rgba($color-white, 0.5);
    cursor: not-allowed;
  }

  &:active:enabled {
    transform: translateY(1px);
  }

  &:hover:enabled {
    border-color: white;
    background-color: transparent;
    transform: translateY(-3px);
    box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
  }
}
