.form-input {
  position: relative;
  margin-bottom: 3rem;

  &__input{
    box-sizing: border-box;
    border: solid 2px $color-grey-dark;
    outline: none;
    border-radius: 5px;
    color: $color-black;
    font-size: $default-font-size;
    padding: 1.5rem 2rem;
    background-color: $color-white;
    width: 100%;
    display: inline-block;
    transition: all 0.3s;

    &:focus{
      outline: solid 2px $color-grey-dark;
    }

    &:focus + .form-input__placeholder{
      position: absolute;
      top: -2.0rem;
      left: 0.5rem;
      transition: all 0.35s;
      font-size: 1.2rem;
      color: $color-grey-dark;
    }

    &:not(:placeholder-shown) + .form-input__placeholder{
      position: absolute;
      top: -2.0rem;
      left: 0.5rem;
      transition: all 0.35s;
      font-size: 1.2rem;
      color: $color-grey-dark;
    }
  }

  &__placeholder{
    position: absolute;
    top: 1.2rem;
    left: 2rem;
    transition: all 0.35s;
    font-size: 1.6rem;
    color: $color-grey-dark;
    pointer-events: none;
  }

  &__error{
    position: absolute;
    top: 5.5rem;
    left: 2rem;
    font-size: 1.2rem;
    color: $color-red;
  }
}