.form--input {
  box-sizing: border-box;
  
  color: $color-black;
  font-size: $default-font-size;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: transparent;
  border: none;
  width: 100%;
  display: block;
  transition: all 0.3s;

  &:focus{
    outline-color: $color-grey-dark;
  }
}
