@import "../../scss/abstract/variables";

.page {
  background-color: $color-primary-dark-3;
  height: 100vh;
}

.desctiption {
  float: left;
  width: 50%;
  height: 100%;
  padding: 22rem;
  box-sizing: border-box;
}

.form-section {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  background-color: $color-primary-dark-3;

  &__box {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: center;
  }
}
