@import '../../../scss/abstract/variables';

.button{
    background-color: transparent;
    border: solid 2px $color-white;
    border-radius: .5rem;
    border-radius: 0.5rem;
    padding: 1.5rem 4rem;
    transition: all .3s;
    font-weight: 600;
    color: $color-white;

    &:disabled{
        background-color: rgba($color: $color-white, $alpha: .25);
        cursor: not-allowed;
    }

    &:hover:enabled{
        transform: translateY(-3px);
    }
    
    &:active:enabled{
        transform: translateY(1px);
    }
}