.header-flat {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;

  &__logo-box {
    order: 0;
  }

  &__center-box {
    text-align: center;
    order: 1;
  }

  &__left-box {
    order: 2;
  }
}
