.vertical-split {
  &__box{
    display: grid;
    height: 100%;
    grid-template-areas: 'left right';
  }

  &__left {
    grid-area: left;
  }

  &__right {
    grid-area: right;
  }
}

@media all and (max-width: 1200px) {
  .vertical-split{
    &__box{
      grid-template-areas: 'left' 'right';
    }
  }
}
