.vertical-split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;

  &--left {
    @extend .vertical-split;
    left: 0;
  }

  &--right {
    @extend .vertical-split;
    right: 0;
  }
}
// @media all and (max-width: 1000px) {
//   .vertical-split{
//     &-left{
//       width: 100%;
//       display: block;
//     }
//     &-right{
//       width: 100%;
//       display: block;
//     }
//   }
// }
