@import '../../../scss/abstract/variables';


.button{
    display: inline;
    background-color: $color-green;
    color: $color-white;
    border: solid rgba($color-white, .5) 2px;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 1.5rem 4rem;
    transition: all .3s;
    
    &:disabled{
        background-color: rgba($color: $color-black, $alpha: .25);
        cursor: not-allowed;
    }

    &:hover:enabled{
        transform: translateY(-3px);
    }
    
    &:active:enabled{
        transform: translateY(1px);
    }
}